# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Log4Shell Detector Tests

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master
      - devel

jobs:
  test-log4shell-tester:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv==2021.5.29
        pipenv lock
        pipenv install --dev
    - name: Test Log4Shell Detector Capabilities
      run: |
        pipenv run pytest
